<!doctype html>
<html lang='en'>
<head>

    <title>Admin page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap_adaptations.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <script src='http://cdn.jsdelivr.net/ractive.events-tap/latest/ractive-events-tap.min.js'></script>
    <style type="text/css">
        .asc:after {
            content: "▾"; /* Добавляемый текст */
        }

        .desc:after {
            content: "▴"; /* Добавляемый текст */
        }
    </style>
</head>

<body>
<nav class="navbar">
    <ul class="nav navbar-nav">
        <li><a href="/main">Main</a></li>
        <li><a href="#" id="createUser">Create User</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login?logout">Logout</a></li>
    </ul>
</nav>

<div id="modalContainer"></div>

<div id="userContainer"></div>

<script id='userListTemplate' type='text/ractive'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th class="sortable" on-tap='sort:username'>Username</th>
          <th class="sortable" on-tap='sort:name'>Name</th>
          <th class="sortable" on-tap='sort:surname'>Surname</th>
          <th class="sortable" on-tap='sort:email'>Email</th>
          <th class="sortable" on-tap='sort:admin'>Admin</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each data :num}}
        <tr>
          <td>{{num+1}}</td>
          <td>{{username}}</td>
          <td>{{name}}</td>
          <td>{{surname}}</td>
          <td>{{email}}</td>
          <td><input type="checkbox" class="disabled" checked="{{admin}}" disabled="true"/></td>
          <td>
            <span class="glyphicon glyphicon-edit" aria-hidden="true" on-tap='edit:{{id}}'></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" on-tap='remove:{{id}}'></span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</script>

<script id='userTemplate' type='text/ractive'>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="userModalLabel">{{#if !id}} New user {{else}}  '{{username}}' edit page {{/if}}</h4>
          </div>
          <form id="userEditForm">
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" name="id" value="{{id}}"/>
                <label>Username <input type="text" class="form-control" name="username" value="{{username}}"/></label>
                <label>Name<input type="text" class="form-control" name="name" value="{{name}}"/></label>
                <label>Surname<input type="text" class="form-control" name="surname" value="{{surname}}"/></label>
                <label>Password<input type="text" class="form-control" name="password" value="{{password}}"/></label>
                <label>Admin<input type="checkbox" class="form-control" checked="{{admin}}" value="{{admin}}" name="admin"/></label>
                <label>Email<input type="text" class="form-control" name="email" value="{{email}}"/></label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" on-click='submit'>Save {{#if !id}} changes {{/if}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</script>

<script src="/js/createUser.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>