<!doctype html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Main page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap_adaptations.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <script src='http://cdn.jsdelivr.net/ractive.events-tap/latest/ractive-events-tap.min.js'></script>
    <style type="text/css">
        .asc:after {
            content: "▾";
        }

        .desc:after {
            content: "▴";
        }
    </style>
</head>

<body>
<nav class="navbar">
    <ul class="nav navbar-nav">
        <li id="adminButton"><a href="admin">Admin</a></li>
        <li><a id="changePassword">Change password</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login?logout">Logout</a></li>
    </ul>
</nav>

<div id="modalContainer"></div>
<div id="passwordContainer"></div>

<div>
    <div class="col-md-4">
        <div class="list-group" id="contactContainer"></div>
    </div>
    <div class="col-md-8" id="mailContainer"></div>
</div>

<script id='passwordtemplate' type='text/ractive'>
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="passwordModalLabel">Change password</h4>
                </div>
                <div class="modal-body">
                {{#if error}} <div class="alert alert-danger" role="alert">{{error}}</div> {{/if}}
                    <div class="form-group">
                        <label for="newPassword1">Password</label>
                        <input type="password" class="form-control" value="{{newPassword1}}"/>
                    </div>
                    <div class="form-group">
                        <label for="newPassword2">Confirm password</label>
                        <input type="password" class="form-control" value="{{newPassword2}}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" on-click='save'>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id='messagetemplate' type='text/ractive'>
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="messageModalLabel">{{#if !id}} New message to {{to}} {{else}} Message from {{from}} {{/if}} </h4>
          </div>
          <form method="post" id="mailEditForm">
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" name="to_id" value="{{to_id}}"/>
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" value="{{subject}}"/>
                <label for="text">Text</label>
                <textarea class="form-control" id="text" name="text" rows="3" value="{{text}}"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {{#if !id}}
              <button type="button" class="btn btn-primary" on-click='send'>Send</button>
              {{else}}
              <button type="button" class="btn btn-primary" on-click='delete:{{id}}'>Delete</button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
</script>

<script id='mailListTemplate' type='text/ractive'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th class="sortable" on-tap='sort:from'>From</th>
          {{#if isadmin }}<th class="sortable" on-tap='sort:from'>To</th> {{/if}}
          <th class="sortable" on-tap='sort:subject'>Subject</th>
          <th class="sortable" on-tap='sort:sendDate'>Date</th>
        </tr>
      </thead>

      <tbody>
        {{#each mails :num}}
        <tr on-tap='show:{{id}}'>
          <td>{{num+1}}</td>
          <td>{{from}}</td>
          {{#if isadmin }} <td>{{to}}</td>{{/if}}
          <td>{{subject}}</td>
          <td>{{sendDate}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</script>

<script id='contacttemplate' type='text/ractive'>
    <div class="input-group">
        <input type="text" class="form-control" value="{{query}}" placeholder="Search {{#if global}} users {{else}} contacts {{/if}}..."/>
        <span class="input-group-addon">
            Global search
            <input type="checkbox" checked='{{global}}'/>
        </span>
    </div>

    {{#each contacts :num}}
    <li class="list-group-item">
      {{username}} ({{name +" "+ surname}})
      <span class="badge">
      {{#if relation }}
        <span class="glyphicon glyphicon-envelope" aria-hidden="true" on-tap='send:{{id}},{{name}}'></span>
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" on-tap='deleteContact:{{relation}}'></span>
       {{else}}
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" on-tap='addContact:{{id}}'></span>
       {{/if}}
      </span>
    </li>
    {{/each}}
</script>

<script src="/js/main.js"></script>

</body>
</html>