<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userModalLabel">{{#if !id}} New user {{else}}  '{{username}}' edit page {{/if}}</h4>
            </div>
            <form id="userEditForm">
                <div class="modal-body">
                    <input type="hidden" name="id" value="{{id}}"/>
                    <div class="form-group {{#if username_err }} has-error {{/if}} has-feedback">
                        Username
                        <label class="control-label">{{username_err}}</label>
                        <div>
                            <input type="text" class="form-control" name="username" value="{{username}}"/>
                        </div>
                    </div>

                    <div class="form-group {{#if name_err }} has-error {{/if}} has-feedback">
                        Name
                        <label class="control-label">{{name_err}}</label>
                        <div>
                            <input type="text" class="form-control" name="Name" value="{{name}}"/>
                        </div>
                    </div>

                    <div class="form-group {{#if surname_err }} has-error {{/if}} has-feedback">
                        Surname
                        <label class="control-label">{{surname_err}}</label>
                        <div>
                            <input type="text" class="form-control" name="surname" value="{{surname}}"/>
                        </div>
                    </div>

                    <div class="form-group {{#if password_err }} has-error {{/if}} has-feedback">
                        Password
                        <label class="control-label">{{password_err}}</label>
                        <div>
                            <input type="text" class="form-control" name="password" value="{{password}}"/>
                        </div>
                    </div>

                    <div class="form-group {{#if email_err }} has-error {{/if}} has-feedback">
                        Email
                        <label class="control-label">{{email_err}}</label>
                        <div>
                            <input type="text" class="form-control" name="email" value="{{email}}"/>
                        </div>
                    </div>
                    {{#if is_admin}}
                    <label>Admin
                        <input type="checkbox" class="form-control" checked="{{admin}}" value="{{admin}}" name="admin"/>
                    </label>
                    {{/if}}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" on-click='submit'>Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>